
<h1></h1>

<img src="http://www.freelargeimages.com/wp-content/uploads/2014/11/Facebook_logo-6.jpg" alt="..." class="fblogo">

 <h3></h3>

<section class="log">

<div class="user">
  <tbody>
    <td><%= current_user.name %></td> -
    <td><%= current_user.email %></td> -
    <td><%= current_user.uid %></td>
  </tbody>
</div>
<br> <br> 

</section>
<a class="btn btn-primary" href=<%=destroy_user_session_url %> role="button">Logout</a>