<h1></h1>
<img src="http://www.freelargeimages.com/wp-content/uploads/2014/11/Facebook_logo-6.jpg" alt="..." class="fblogo">

<a class="btn btn-primary btn-lg" href=<%=user_omniauth_authorize_path(:facebook)%> role="button">Login</a>