@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-size: 60px;
  color: blue;
}

.fblogo{
	width: 20%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.user{
	color: grey;
	font-size: 16px;
	margin-left: 40px;
	padding-top: 35px;
}

.btn{
	margin-top: 20px;
	display: block;
	margin-left: 150px;
	margin-right: 150px;
}

section.log{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #F9F2E7;
	width: 500px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #F6F6F6;
}

body {
	background-color: #49b3e7;
	margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    text-align: left;
}
